<ng-container>
  @switch(getComponentType(field.type)){
  @case ('input') {
  <app-form-input [field]="field" [group]="group">
  </app-form-input>
  }

  @case ('select') {
  <app-form-select [field]="field" [group]="group"></app-form-select>
  }

  @case ('radio') {
  <app-form-radio [field]="field" [group]="group"></app-form-radio>
  }

  @case ('date') {
  <app-form-date [field]="field" [group]="group"></app-form-date>
  }

  @case ('heading') {
  <div class="heading" [ngClass]="{
        'align-left': field.headingTextAlignment === 'left',
        'align-center': field.headingTextAlignment === 'center',
        'align-right': field.headingTextAlignment === 'right'
      }">
    <mat-icon>view_headline </mat-icon>
    <span>{{ field.label }}</span>
  </div>
  }

  @case ('file') {
  <app-form-file [field]="field" [group]="group"></app-form-file>
  }



  }
</ng-container>