<div class="field-container" [formGroup]="group">
  <label class="group-label">{{ field.label }}<span *ngIf="field.required" class="req">*</span></label>
  <ng-container [ngSwitch]="field.type">
    <div *ngSwitchCase="'radio'" class="options-container"><label class="inline-option" *ngFor="let option of field.options"><input type="radio" [formControlName]="field.name" [value]="option.value || option.label || option">{{ option.label || option }}</label></div>
    <div *ngSwitchCase="'checkbox'" class="options-container"><label class="inline-option"><input type="checkbox" [formControlName]="field.name">{{ field.placeholder || 'Enable ' + field.label }}</label></div>
    <div *ngSwitchCase="'toggle'" class="toggle-container"><label class="toggle-switch"><input type="checkbox" [formControlName]="field.name"><span class="slider"></span></label><span class="toggle-label">{{ group.get(field.name)?.value ? 'ON' : 'OFF' }}</span></div>
  </ng-container>
  <div class="error-msg" *ngIf="group.get(field.name)?.touched && group.get(field.name)?.invalid"><span *ngIf="group.get(field.name)?.errors?.['required']">{{field.label}} is required.</span></div>
</div>
